
@media(max-width: 850px){
    body{
        font-size: 12px;
    }
    .arkdex{
        flex-direction: column;
        padding: 30px 0;
    }
    .card{
        max-width: 600px;
    }
    .card .info{
        padding:30px 30px;
    }
    .list{
        max-width: 600px;
    }
    .list ul{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .list .dino{
        width: 140px;
        border-top-left-radius: 30px;
        border-top-right-radius: 0;
    }
    .list .dino span{
        padding-right: 5px;
    }
    .list img{
        width: 30%;
    }
}
@media(max-width: 650px){
    .arkdex{
        max-width: 500px;
    }
    .cards{
        width: 500px;
    }
    .card{
        width: 500px;
    }
    .card_img img{
        width: 450px;
    }
}
@media(max-width: 425px){
    .arkdex{
        max-width: 400px;
    }
    .cards{
        width: 400px;
    }
    .card{
        width: 400px;
    }
    .card_img img{
        width: 350px;
    }
    .sub_list{
        height: 80px;
    }
    .sub_list ul{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
    }
}
@media(max-width: 320px){
    .cards{
        width: 300px;
    }
    .card{
        width: 320px;
        height: 300px;
    }
    .card_img img{
        width: 250px;
    }

}