body {
    font-family: 'Rubik', sans-serif;
}
main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADFE8;
}
.arkdex {
    display: flex;
    gap: 30px;
    padding: 30px 0;
}